# --- Bot Sozlamalari ---
BOT_TOKEN=
ADMINS_IDS=  # Vergul bilan ajratilgan ID lar (masalan: 123,456)

# --- Webhook Sozlamalari ---
USE_WEBHOOK=False
WEBHOOK_URL=  # Domen yoki VPS IP manzili
WEBHOOK_PATH=/webhook

# --- Ma'lumotlar Bazasi ---
POSTGRES_DB=movie_bot_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# --- Redis ---
REDIS_URL=redis://redis:6379/0

# --- Telegram API Server (Local API) ---
TG_API_SERVER_URL=http://api:8081
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_LOCAL=True

# --- To'lov Tizimi ---
CLICK_PROVIDER_TOKEN=