services:
  postgres:
    image: postgres:14-alpine
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure
    ports:
      - "5434:5432"
    networks:
      - tg_bot

  redis:
    image: redis:6.2.5-alpine
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    networks:
      - tg_bot
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  bot:
    image: "${BOT_IMAGE_NAME:-tg_bot-image}"
    container_name: "${BOT_CONTAINER_NAME:-movie_bot-container}"
    env_file:
      - ./.env
    stop_signal: SIGINT
    build:
      context: .
    restart: always
    depends_on:
      - postgres
    networks:
      - tg_bot

networks:
  tg_bot:
    driver: bridge

volumes:
  pgdata:
  redis-data: